# Core functionality - changes here should be rare!
/src/app.py                   @shivvvansh
/src/backend/database.py      @shivvvansh
/src/backend/routers/auth.py  @shivvvansh

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shivvvansh
